.clock {
    font-size: 24pt;
    color: #3C6A81;
}

.button {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border: 1px solid transparent;
    color: #3C6A81;
    margin: 5px;
}

.button:hover {
    background-image: none;
    background-color: transparent;
    color: lighter(#3C6A81);
    -gtk-icon-shadow: 0px 1px 2px alpha(white, 0.3)
}

.image-button {
    color: lighter(#3C6A81);
}

.columbiad-view {
    background-image: -gtk-gradient(linear,
        left center, right bottom,
        from (darker(darker(#001B2E))), to(#001B2E));
}

GtkWindow {
    background-image: none;
    background-color: transparent;
}

.trough {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border: 1px solid transparent;
}

GtkEventBox, GtkScrolledWindow {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border: 1px solid transparent;
}

.launcher.active-text {
    color: lighter(#3C6A81);

}

.launcher {
    font-size: 10pt;
    color: #3C6A81;
}

.grid-child,
.grid-child:selected {
  background-image: none;
  background-color: transparent;
  outline-color: transparent;
}
